@mixin centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#parent {
  position: relative;
}

#buttons {
  @include centered();
  padding: 5px;
  border: 1px solid black;
  border-radius: 3%;
  text-align: center;
}

.navButton {
  width: 95%;
  font-family: monospace;
  border-radius: 2%;
}
